* {
	/*border: solid red 1px;*/
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	background: url("../img/gavel.jpg") no-repeat;
 	background-size: cover;
	padding-bottom: 25%;
	margin-top: 70px;
	text-align: right;
}

/*Logo*/
#logoOC {
	background-color: #ea7724;
	font-family: 'Abel', sans-serif;
	padding-right: 5px;
	padding-left: 5px;
}

#logoPipe {
	font-family: 'Abel', sans-serif;
}

h3 {
	text-align: center;
}

.navbar-brand {
	font-size: 2.4em;
	font-family: 'Abel', sans-serif;
	padding-bottom: 0px;
	padding-top: 0px;
}
/*Logo end*/

body {
	padding-bottom: 25%;
}

#needs-validation {
	max-width: 700px;
	margin: auto;
}

.btn-lg {
	margin: auto;
	margin-right: 15px;
}

/*Estimate Banner Text*/
.bannerText {
	text-align: left;
	margin-left: 52%;
}

#avg {
	background-color: rgba(255,255,255,0.6);
	font-size: 1.47vw;
	padding: 1%;
}

#monthly {
	background-color: rgba(255,255,255,0.6);
	font-size: 8vw;
	padding: 1%;
}

#total {
	background-color: rgba(255,255,255,0.6);
	font-size: 2.25vw;
	padding: 1%;
}

#estText {
	font-size: 6vw;
}

span a {
	color: black;
}

.contactBtn {
	text-align: center;
	margin-left: 45%;
	position: relative;
}

.btn-outline-dark {
	font-size: 3vw;
	margin-top: 20%;
	position: absolute;
}
/*Estimate Banner Text End*/

.card {
	min-height: 285px;
}

#get-est-btn {
	margin-top: 30px;
	margin-right: 15px;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

