/** {
	border: solid red 1px;
}*/

.jumbotron {
	background: url("../img/gavel.jpg") no-repeat;
 	background-size: cover;
	padding-bottom: 25%;
	margin-top: 70px;
	text-align: right;
}

h1 {
	margin-right: 35px;
}

h3 {
	text-align: center;
}

.navbar-brand {
	font-size: 2em;
}

body {
	padding-bottom: 5%;
}

#needs-validation {
	max-width: 700px;
	margin: auto;
}