* {
	/*border: solid red 1px;*/
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	padding-bottom: 25%;
}

.jumbotron {
	background: url("../img/gavel.jpg") no-repeat;
 	background-size: 100% 100%;
	margin-top: 70px;
	text-align: right;
	margin-bottom: 0;
}

/*Logo*/
#logoOC {
	background-color: #ea7724;
	font-family: 'Abel', sans-serif;
	padding-right: 5px;
	padding-left: 5px;
}

#logoPipe {
	font-family: 'Abel', sans-serif;
}

.navbar-brand {
	font-size: 2.4em;
	font-family: 'Abel', sans-serif;
	padding-bottom: 0px;
	padding-top: 0px;
}
/*Logo end*/

/*Form*/
#needs-validation {
	max-width: 700px;
	margin: auto;
	margin-top: 2%;
}

#formDiv {
    color: white;
    background-color: #343a40;
    vertical-align: center;
    display: table;
    width: 100%;
}

#formDiv h6 {
	padding: 5%;
	text-align: justify;
    text-justify: inter-word;
	display: table-cell;
}

label {
	font-size: 2vw;
}
/*Form end*/

.btn-lg {
	margin: auto;
	margin-right: 15px;
}

/*Estimate Banner Text*/
.bannerText {
	text-align: left;
	margin-left: 45%;
}

#avg {
	background-color: rgba(255,255,255,0.7);
	font-size: 1.7vw;
	padding: 1%;
}

#monthly {
	background-color: rgba(255,255,255,0.7);
	font-size: 8vw;
	padding: 1%;
}

#total {
	background-color: rgba(255,255,255,0.7);
	font-size: 2.25vw;
	padding: 1%;
}

#estText {
	font-size: 4vw;
}

#termText {
		font-size: 2vw;
}

span a {
	color: black;
	text-decoration: none;
}

.contactBtn {
	text-align: center;
}

.btn-outline-dark {
	font-size: 3vw;
}
/*Estimate Banner Text End*/

.card {
	min-height: 285px;
}

.card-header {
	font-size: 2vw;
}

#get-est-btn {
	margin-top: 30px;
	margin-right: 15px;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

